<div id="editEmployees" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editEmployeesLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Edit Employee</h3>
    </div>
    <div class="modal-body">
        <p class="alert alert-info">
            <input name="editEmployees-employee" id="editEmployees-employee" />
        </p>
    </div>

    <div class="modal-footer">
        <button name="editEmployees-edit" id="editEmployees-edit" type="button" class="btn" data-ng-click="submit()">Edit</button>
    </div>

</div>